<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  "
>
  <div>
    <h3>Books</h3>
  </div>
  <div>
    <button
      (click)="newBook()"
      style="
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        background-color: #06341c;
        color: white;
        border-radius: 4%;
      "
    >
      {{ isCreate ? "Close" : "Add Book" }}
    </button>
  </div>
</div>
<div style="display: flex; justify-content: center">
  <form
    [formGroup]="booksFormGroup"
    *ngIf="isCreate"
    style="
      margin-bottom: 64px;
      border: 1px solid black;
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px;
    "
  >
    <h2>CREATE / UPDATE</h2>
    <input
      type="text"
      name="po-text-field"
      formControlName="bookName"
      placeholder="Book Name"
    />
    <br />
    <input
      type="text"
      name="po-text-field"
      formControlName="author"
      placeholder="Author"
    />
    <br />
    <input
      type="number"
      name="number"
      formControlName="bookPrice"
      placeholder="BookPrice"
      style="margin-bottom: 12px"
    /><br />

    <input
      type="File"
      (change)="onFileChange($event)"
      style="margin-bottom: 24px"
    />

    <br />
    <input type="button" value="Submit" (click)="createBook()" /><br />
    <input type="button" value="Reset" (click)="resetForm()" />
  </form>
</div>
<table
  style="
    width: 100%;
    margin-bottom: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  "
>
  <thead style="margin-bottom: 24px">
    <th
      style="
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #280d7b;
        color: white;
      "
    >
      PHOTO
    </th>
    <th
      style="
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #280d7b;
        color: white;
      "
    >
      NAME
    </th>
    <th
      style="
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #280d7b;
        color: white;
      "
    >
      AUTHOR
    </th>
    <th
      style="
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #280d7b;
        color: white;
      "
    >
      PRICE
    </th>
    <th
      style="
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #280d7b;
        color: white;
      "
    >
      ACTIONS
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; let i = index">
      <td style="border: 1px solid #ddd; padding: 8px">
        <img
          src=" ./../../../../../Photo/Books/{{ book.photoPath }}"
          alt="{{ book.name }}"
          style="width: 100px; height: 100px"
        />
      </td>
      <td style="border: 1px solid #ddd; padding: 8px">{{ book.bookName }}</td>
      <td style="border: 1px solid #ddd; padding: 8px">{{ book.author }}</td>
      <td style="border: 1px solid #ddd; padding: 8px">{{ book.bookPrice }}</td>
      <td style="border: 1px solid #ddd; padding: 8px">
        <button
          (click)="editBook(book)"
          style="
            margin-right: 8px;
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            background-color: #06341c;
            color: white;
            border-radius: 4%;
          "
        >
          Edit
        </button>
        <button
          (click)="deleteBook(book.bookID)"
          style="
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            background-color: #06341c;
            color: white;
            border-radius: 4%;
          "
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
